<div class="container">
  <div class="jumbotron">
    <form class="form-group register">
        <div class="form-group">
            <label for="email"><span class="star">*</span><span class="name"> Phone Number:</span></label>
            <input type="text" class="form-control" placeholder="not used for marketing" [(ngModel)]="RegistrationDetails.PhoneNumber" name="PhoneNumber" required #PhoneNumber="ngModel">
            <div *ngIf="PhoneNumber.invalid && (PhoneNumber.dirty || PhoneNumber.touched)">
              <div *ngIf="PhoneNumber.errors.required"> is required</div>
            </div>
          </div>
          <div class="form-group">
              <label for="email"><span class="star">*</span><span class="name"> First Name:</span></label>
              <input type="text" class="form-control" placeholder="" name="FirstName">
            </div>
            <div class="form-group">
                <label for="email"><span class="star">*</span><span class="name"> Last Name:</span></label>
                <input type="text" class="form-control" placeholder="hyphen or single quote OK" name="LastName">
              </div>
              <div class="form-group">
                  <label for="email"><span class="star">*</span><span class="name"> Email Address:</span></label>
                  <input type="text" class="form-control" placeholder="" name="Email">
                </div>
        <div class="form-group">
            <label for="email"><span class="star">*</span><span class="name"> User name:</span><span class="text-black-50"> This will be your login user name</span></label>
            <input type="email" class="form-control" id="email" placeholder="minimum 6 letters" name="email">
          </div>
          <div class="form-group">
            <label for="pwd"><span class="star">*</span><span class="name"> Password:</span></label>
            <input type="password" class="form-control" id="pwd" placeholder="" name="pswd">
          </div>
          <div class="form-group">
              <label for="pwd"><span class="star">*</span><span class="name"> Password Confirm:</span></label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter again to validate" name="pswd">
            </div>
  
          <div class="form-group form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" name="remember"> <span class="name">I agree with the<span class="text-primary"> terms and conditions</span> for Registration.</span><span class="star"> *</span>
            </label>
          </div>
          <button class="btn btn-success btn-sm" routerLink="/">Register</button>
          <p></p>
          <pre>You will receive an email to complete the registration and validation process.
Be sure to check your spam folders.</pre>
      
          </form>
  </div>
</div>
